

@mixin admin-custom-page-menu(){
    #custom-404-item-container{
        .container-fluid{
            .row.bordered{
                background-color: rgba(213, 255, 2, 0.5)
            }    
        }
    }
    textarea#custom-404-text{
        height: 250px;
        resize: vertical;
    }
}

@include admin-custom-page-menu()
