

@mixin admin-custom-page-menu(){
    #custom-404-item-container{
        .container-fluid{
            .row{
                label{
                    font-weight: bolder;
                    font-size: 14px;
                }
            }
        }
    }
    textarea#custom-404-text{
        height: 250px;
        resize: vertical;
    }
}

@include admin-custom-page-menu()
