
@mixin image-style($container-class,$image-width,$image-height){
    #{$container-class}{
        text-align: center;
        img{
            width: $image-width;
            height: $image-height;
        }
    }
}