

@mixin admin-custom-page-menu(){
    #custom-404-item-container{
        .container-fluid{
            .row{
                label{
                    font-weight: bolder;
                    font-size: 14px;
                }
                textarea#custom-404-text{
                    height: 250px;
                    resize: vertical;
                }
                &#custom-404-button-div{
                    .col-button-div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        #custom-404-button-spinner{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

@include admin-custom-page-menu()
